.App {
    background: #146276;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.word-container {
    height: 100vh;
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

.clip-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
    clip-path: inset(100% 0 0 0);
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

/* .words {
    display: flex;
    overflow: hidden;
} */
.word-image {
    height: 70vh;
    object-fit: cover;
    width: 100%;
    border-radius: 22.268px;
    background: lightgray -39.764px -75.817px / 226.215% 239.648% no-repeat;
}

.info-container {
    position: relative;
    margin: 0;
    padding: 0;
    transform: translateY(-40vh);
    width: 100vw;
    z-index: 10;
    height: 40vh;
    background: linear-gradient(180deg, rgba(0, 102, 255, 0.30) 0%, rgba(0, 255, 255, 0.60) 100%);
    backdrop-filter: blur(10px);
}

.info-container>h1 {
    color: #244685;
    font-family: Outfit;
    font-size: 2.125rem;
    font-weight: 600;
    letter-spacing: 0.608px;
    text-transform: capitalize;
    background: rgba(203, 251, 186, 0.25);
    padding: 1rem;
    border-radius: 0 0 22px 22px;
    margin: 0;
}

.info-container>p {
    color: #6210a1;
    font-family: Outfit;
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: 45ch;
    padding-left: 1rem;
}

.logo {
    position: absolute;
    top: -16%;
    left: 45%;
}

.bottom-navbar {
    display: flex;
    position: fixed;
    bottom: 0;
    border-radius: 0px 0px 33px 33px;
    background: #146276;
    box-shadow: 3px -5px 7px 0px rgba(0, 0, 0, 0.35) inset;
    padding: 1.125rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 10vh;
    width: 100%;
    max-width: 500px;
    z-index: 100;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    height: 50px;
    aspect-ratio: 1;
    background-color: #1C8E8E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-button>img {}

#home {
    height: 80px;
    padding: 28px 58px 28px 58px;
    border-radius: 29px;
    color: white;
    background: #126477;
    box-shadow: 0px 14px 20px -2px rgba(0, 0, 0, 0.69);
    transform: translateY(-30%);
    fill: whitesmoke;
}

.word-container {
    height: 100vh;
    width: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;
}

.outer,
.inner {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 70vh;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg h2 {
    z-index: 2;
    font-kerning: none;
    font-family: var(--ff-gd);
    font-weight: var(--fw-regular);
    font-size: var(--fs-700);
    letter-spacing: 0.608px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-right: -0.5em;
    color: #1f1f1f;
    max-width: 1200px;
    margin-left: 0.5rem;
}

.bg h2 * {
    will-change: transform;
}

.bg .clip-text {
    overflow: hidden;
}
.bottom-nav-wrapper {
    display: flex;
    justify-content: center;
  }
.section-meaning {
    visibility: hidden;
    font-size: var(--fs-600);
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--clr-primary-800);
    max-width: 70%;
    text-align: center;
    /* text-transform: capitalize; */
    letter-spacing: .25rem;
}

@media (min-width:600px) {
    .info-container {
        display: flex;    
        align-items: flex-start; 
        height: 50vh;
        gap: 1rem;
        transform: translateY(-30vh);
        padding: 1rem;
        width: 100%;
    }
    .info-container > h1 {
        width: 50%; 
        text-align: center;  
        border-radius: 7px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    }
    .info-container > p{
        width: 50%; 
        text-align: center; 
    }
    .bottom-navbar{
        width: 630px;
        border-radius: 35px;
    }
    .bg {
        height: 100vh;
    }
}
@media (min-width:1000px) {
    .word-container {
        /* display: flex; */
        /* flex-direction: row; */
        align-items: center;
    }
    .section-meaning {
        visibility: visible;
    }
    .bg {
        position: relative;
    }
    .overlay {
        height: 100%;
        width: 100%;
        background: var(--clr-primary-400);
        position: absolute;
        z-index: -1;
        opacity: 30%;
        backdrop-filter: blur(10px);
    }
    .info-container{
        position: absolute;
        transform: translateY(0);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-radius: 35px;
    }
    .info-container > h1{
        font-size: var(--fs-700);
        overflow: hidden;
        visibility: hidden;
    }
    .info-container > p{
        font-size: var(--fs-500);
        visibility: hidden;
        
    }
    .bottom-navbar{
        margin-bottom: 2rem;
    }
}

.loading-screen {
    z-index: 1000;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #17FFDB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-text {
    font-family: var(--ff-base);
    color: var(--clr-secondary-400);
    letter-spacing: .5em;
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.loading-text .char {
    transform: translateY(115px);
    transition: transform .5s;
}
/* Modal Styles */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./assets/modal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: var(--ff-base);
    max-width: 80%;
    width: 300px;
}

.modal h2 {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-800);
    margin-bottom: 10px;
}

.modal p {
    font-size: var(--fs-500);
    color: var(--clr-primary-300);
    margin-bottom: 20px;
}

.modal button {
    padding: 8px 16px;
    background-color: #3498db;
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

/* Background Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Add this CSS to your stylesheets or component */
#home-overlay {
    /* Styling for the overlay background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-modal {
    /* Styling for the modal box */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 400px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "title title"
        "highlight desc"
        "highlight desc"
        "logo logo"
        "btn btn"
    ;
    gap: .35rem;
}

#home-modal h2 {
    font-size: var(--fs-500);
    width: 100%;
    color: var(--clr-primary-300);
    margin-bottom: 1rem;
    grid-area: title;
}

#home-modal p {
    font-size: var(--fs-400);
    font-family: var(--ff-inter);
    color: var(--clr-primary-700);
    margin: 0;
    margin-bottom: 1rem;
    padding: .35rem;
    text-align: justify;
    letter-spacing: ;
    grid-area: desc;
}
.highlight {
    grid-area: highlight;
}

.highlight-text {
    background-color: var(--clr-primary-300);
    color: var(--clr-accent-400) !important;
    padding: 10px;
    margin-top: .75rem;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}


.scroll-g {
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    color: var(--clr-secondary-400);
    margin: 0;
}

#home-modal .logo-container {
    text-align: center;
    margin-bottom: 20px;
    grid-area: logo;
}

#home-modal .logo-container img {
    max-width: 100px;
}

#home-modal button {
    background-color: var(--clr-secondary-400);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    grid-area: btn;

}

#home-modal button:hover {
    background-color: var(--clr-secondary-400);
}

@media (min-width:1000px) {
    #home-modal, .modal {
        max-width: 700px;
        border-radius: 50px;
        padding: 2rem;
    }
}
